<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springboot.translation.mapper.CteMapper">
  <resultMap id="BaseResultMap" type="com.demo.springboot.translation.common.domain.Cte">
    <id column="cte_Id" jdbcType="INTEGER" property="cteId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.demo.springboot.translation.common.domain.Cte">
    <result column="c_Word" jdbcType="LONGVARCHAR" property="cWord" />
    <result column="e_Word" jdbcType="LONGVARCHAR" property="eWord" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cte_Id
  </sql>
  <sql id="Blob_Column_List">
    c_Word, e_Word
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.demo.springboot.translation.common.domain.CteExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cte
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.demo.springboot.translation.common.domain.CteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cte
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cte
    where cte_Id = #{cteId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cte
    where cte_Id = #{cteId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.springboot.translation.common.domain.CteExample">
    delete from cte
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.springboot.translation.common.domain.Cte">
    insert into cte (cte_Id, c_Word, e_Word
      )
    values (#{cteId,jdbcType=INTEGER}, #{cWord,jdbcType=LONGVARCHAR}, #{eWord,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.demo.springboot.translation.common.domain.Cte">
    insert into cte
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cteId != null">
        cte_Id,
      </if>
      <if test="cWord != null">
        c_Word,
      </if>
      <if test="eWord != null">
        e_Word,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cteId != null">
        #{cteId,jdbcType=INTEGER},
      </if>
      <if test="cWord != null">
        #{cWord,jdbcType=LONGVARCHAR},
      </if>
      <if test="eWord != null">
        #{eWord,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.springboot.translation.common.domain.CteExample" resultType="java.lang.Long">
    select count(*) from cte
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cte
    <set>
      <if test="record.cteId != null">
        cte_Id = #{record.cteId,jdbcType=INTEGER},
      </if>
      <if test="record.cWord != null">
        c_Word = #{record.cWord,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.eWord != null">
        e_Word = #{record.eWord,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update cte
    set cte_Id = #{record.cteId,jdbcType=INTEGER},
      c_Word = #{record.cWord,jdbcType=LONGVARCHAR},
      e_Word = #{record.eWord,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cte
    set cte_Id = #{record.cteId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.springboot.translation.common.domain.Cte">
    update cte
    <set>
      <if test="cWord != null">
        c_Word = #{cWord,jdbcType=LONGVARCHAR},
      </if>
      <if test="eWord != null">
        e_Word = #{eWord,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where cte_Id = #{cteId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.demo.springboot.translation.common.domain.Cte">
    update cte
    set c_Word = #{cWord,jdbcType=LONGVARCHAR},
      e_Word = #{eWord,jdbcType=LONGVARCHAR}
    where cte_Id = #{cteId,jdbcType=INTEGER}
  </update>
</mapper>